@import "compass";
@import "compass/css3";
@import "susy";


$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "px";

$susy: (
	flow: ltr, 
	columns: 12, 
	gutters: .25, 
	math: fluid,
	output: float, 
	gutter-position: after,
	global-box-sizing: border-box
);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}


@for $i from 1 through 12{  
  .grid_#{$i}{  
    @include span($i);  
  
  }  
} 


$containerWidth:100%;


$layoutMobile : 0px;
$susyPhone: (6 , .25, after);

$layoutPad : 640px;
$susyPad: (12 , .25, after);



body {
	position: relative;
}

.cont {
	
	@include container($containerWidth);
	padding: 0;  
	& * {
		@include adjust-font-size-to (16px) ;
	}
}

.menu {
	background-color: #ffffff;
	.navbar-collapse {
		padding: 0 30px;
	}
}

.Home {
	height:100vh;
    background: transparent;
    text-align: center;
    p {
    	color:white;
    	@include adjust-font-size-to (96px);
    	@include padding-leader(6);
    }
}

.Skill {
	> div {
		@include leader(1);

	} 
	> div:last-child {
		@include trailer(1);
	}
	
	@include susy-breakpoint($layoutMobile, $susyPhone) {
		@include container($containerWidth); 
		> div {
			@include span(5); 
			margin-left: span(1);
			margin-right: span(1);
		}
		span {
			display: block;
			@include trailer(1);
		} 
	}

	@include susy-breakpoint($layoutPad, $susyPad) {
		@include container($containerWidth);   
		> div {
			@include span(6); 
			margin-left: span(4);
			margin-right: span(3);
		}
		span {

			display: inline-block;
			margin-right: 5px ;
		}  
	}		
}

.Exp {
	pre {
		background-color: inherit;
	}
}
.Autobiography {
	min-height: 100vh;
	margin-left: span(1 wide);
	margin-right: span(1 wide);
	pre {
		background-color: inherit;
	}
}

.About {
	background-color: black;
	min-height: 100vh;
	color:White;
	background-image: url('../img/bg.png');
	background-repeat: repeat;
	@include padding-leader(3);
	
	@include susy-breakpoint($layoutMobile, $susyPhone) {
		@include container($containerWidth); 
		> div {
			.img {
				margin-left: span(1 wide);
				@include span(4);
			}
			.aboutMe {
				margin-left: span(1 wide);
				@include span(4);
			}  
		}
	}

	@include susy-breakpoint($layoutPad, $susyPad) {
		@include container($containerWidth); 
		> div {
			.img {

				@include span(3);
				margin-left: span(2 wide);
			}
			.aboutMe {
				margin-left: 0;
				@include span(3);
			}  
		}
	}
}




